<form action="">
    <div class="card flex flex-column md:flex-row gap-3">
        <p-floatLabel>
            <input pInputText id="nombres" />
            <label for="nombres">Nombres</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText id="apellidos" />
            <label for="apellidos">Apellidos</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText id="dni" />
            <label for="dni">DNI</label>
        </p-floatLabel>

        <p-button label="Buscar" icon="pi pi-search" />

    </div>
   
    
</form>